# TP bak for Statistical foundations of Machine Learning

Hello! I am getting into R and working on my hw for this class. Enjoy!

Source: https://github.com/Yannael/info-f-422/

# TP 1 - INTRO TO R

# Basics
R as a calculator

In [116]:
exp(-5)

[1] 0.006737947

In [117]:
rnorm(10) # generate random numbers

 [1] -0.09097173 -0.98461345  0.80861260  1.64608154 -2.72943777  1.05180632
 [7] -0.82032662 -1.13464665  0.58611171  0.59992471

R variables type: integer, double, character,logical, categorical ...

Some variables's assignation

In [133]:
x <- 5
y <- x + 10
a <- "hola"
i <- 0.5
o <- TRUE
x
y
a
i
o

[1] 5

[1] 15

[1] "hola"

[1] 0.5

[1] TRUE

In [134]:
# types of variables
typeof(x)
typeof(y)
typeof(a)
typeof(i)
typeof(o)

[1] "double"

[1] "double"

[1] "character"

[1] "double"

[1] "logical"

#### Installing and loading libraries

In [135]:
install.packages("ISwR")
library(ISwR)

The downloaded binary packages are in
	/var/folders/nm/cb8rfgrj01qfyh2wp482rhnm0000gn/T//RtmpAtysut/downloaded_packages

# Vectors

### Definition
Vectors can be: integer, double, character, logical
Also, it is possible to define them as a sequence between two values seq(val_1,val_2) and as $n$ repetitions of the same element rep(val,n).
##### vector_name <- c(values)

In [136]:
x <- c(5,4,3)
y <- c(1.1, 2.2, 3.3)
xy <- x > y

x
y
xy

[1] 5 4 3

[1] 1.1 2.2 3.3

[1]  TRUE  TRUE FALSE

In [137]:
w <- c("Hi", "Hola", "Ciao")
z <- c(T,T,F)

w
z

[1] "Hi"   "Hola" "Ciao"

[1]  TRUE  TRUE FALSE

In [138]:
typeof(xy)
typeof(w)
typeof(z)

[1] "logical"

[1] "character"

[1] "logical"

In [139]:
x <- seq(1,3)
x
y <- rep(1,3)
y

[1] 1 2 3

[1] 1 1 1

In [140]:
w <- seq(1,5,2)
w

[1] 1 3 5

In [141]:
w <- rep(seq(1,3), seq(1,5,2))
w

[1] 1 2 2 2 3 3 3 3 3

### Arithmetics

In [142]:
weight <- c(60, 72, 57, 90, 95, 72,60)
height <- c(1.75, 1.80, 1.65, 1.90, 1.74, 1.91,1.69)
bmi <- weight/height^2
bmi

[1] 19.59184 22.22222 20.93664 24.93075 31.37799 19.73630 21.00767

In [143]:
# using the formula: weight/(height^2.5/1.3)
aux <- height^2.5
aux <- aux/1.3

bmi2 <- weight/aux
bmi2

[1] 19.25305 21.53251 21.18890 23.51267 30.92387 18.56489 21.00767

### Functions for vectors
For vector v -> addition: sum(v), vector length: length(v), sorting: sort(v), ordering: (v), element multiplication: prod(v), mean value: mean(v), standard deviation: sd(v)

In [144]:
v <- seq(1,7)
sum(v)
length(v)

[1] 28

[1] 7

In [145]:
v <- seq(5,1)
v
sort(v)
order(v)
order(v, decreasing = TRUE) # question

[1] 5 4 3 2 1

[1] 1 2 3 4 5

[1] 5 4 3 2 1

[1] 1 2 3 4 5

In [146]:
v <- c(3,5,7,2,4,9,1)
v
order(v)
order(v, decreasing = TRUE)

[1] 3 5 7 2 4 9 1

[1] 7 4 1 5 2 3 6

[1] 6 3 2 5 1 4 7

In [147]:
v <- seq(5,1)
v
prod(v)
mean(v)
sd(v)

[1] 5 4 3 2 1

[1] 120

[1] 3

[1] 1.581139

# Matrices

### Definition
$matrix$ (2 dimensions) and $array$ (more than 2 dimensions).

There are different ways to define a matrix:

In [149]:
# using dim() to change a vector into a matrix
x <- 1:12
dim(x) <- c(3,4)
x

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

In [152]:
# using matrix()
matrix(1:12, nr=3, byrow=F)
matrix(1:12, nr=3, byrow=T)

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

     [,1] [,2] [,3] [,4]
[1,] 1     2    3    4
[2,] 5     6    7    8
[3,] 9    10   11   12

In [153]:
# using array()
array(1:12, dim=c(3,4), dimnames=list(c("a","b","c"),seq(1,4)))

  1 2 3 4
a 1 4 7 10
b 2 5 8 11
c 3 6 9 12

In [155]:
# assigning names to ROWS and COLS
x <- matrix(1:12, nr=3, byrow=T)
rownames(x) <- LETTERS[1:3]
colnames(x) <- letters[1:4]
x

  a b  c  d
A 1  2  3  4
B 5  6  7  8
C 9 10 11 12

In [156]:
# cbind -> putting vectors as columns to create a matrix
cbind(A=1:4, B=5:8, C=9:12)

     A B C
[1,] 1 5  9
[2,] 2 6 10
[3,] 3 7 11
[4,] 4 8 12

In [157]:
# rbing -> putting vectors as rows to create a matrix
rbind(A=1:4, B=5:8, C=9:12)

  [,1] [,2] [,3] [,4]
A 1     2    3    4
B 5     6    7    8
C 9    10   11   12